/* DECLARACIONES */
:root{
    --green: #81f0a3;
    --black: #363636;
    --blue: #092132;
    --brown: #B2853B;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color:var(--blue);
    font-family: 'Raleway', sans-serif;
}
/* HEADER */
header{ 
    width: 100%;
    top: 0;
    position: fixed;
    background-color:var(--black);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-color: var(--black);
    border-bottom: var(--green);
    border-style: solid;
    z-index: 1;
}

header ul {
    list-style: none;
    display: flex;
    font-size: 1.5rem;
    margin-right: 0.2rem;
}

header ul li {
    margin: 0px 12px;
}

header ul li:hover{
    transition: 2s;
    transform: scale(1.2);
    background-color: var(--black);
}

header a:hover{
    text-decoration: underline white;
}

header img:hover{
    transition: 2s;
    transform: scale(1.2);
}
/* IMAGENES EN GENERAL */
img{
    border-radius: 20px;
    width: 8.125rem;
    margin-top: 0.25rem;
    margin-left: 7%;
}
/* MAIN */
main{
    display:flex;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    text-align: center;
    margin: 35px 0px;
    font-size: 60px;
    color: white;
}

p{
    font-size: 30px;
    color: white;
    text-align: justify;
}
/* FOOTER */
footer{
    display: flex;
    justify-content: space-around;
    background-color:var(--black);
    border-color: var(--black);
    border-top: var(--green);
    border-style: solid;
    color: white;
}

footer h3{
    font-size: 26px;
    color: var(--brown);
}

footer p{
    font-size: 20px;
}

/* CLASES */
/* CLASES DEL HEADER */ 
.navbar ul{
    display: flex;
}

.navbar i{
    font-size: 30px;
    color: white;
    display: none;
}

#toggle-menu{
    display: none;
}
/* CLASES DE ABOUT SECTION */
.flan{
    width: 380px;
    margin-left: 0%;
    margin-bottom: 4px;
}

.imgs{
    display: flex;
}

.info{
    margin: 2rem 1rem 1.5rem 1rem;
}

.about__section{
    background-color: var(--black);
    border-color: var(--green);
    border-style: solid;
    border-radius: 20px;
    margin: 166px 0.5rem 32px 0.5rem;
}

.about__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0px 20px;
}
.imgs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0px 20px;
}

/* CLASES DE DESCRIPTION SECTION */

.description__section{
    background-color: var(--black);
    border-color: var(--green);
    border-style: solid;
    border-radius: 20px;
    margin: 2rem 0.5rem;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
}

.description__section h2{
    font-size: 40px;
    margin-top: 2rem;
}

.description__section h3{
    font-size: 30px;
    margin-bottom: 5rem;
}

.card__container {
    display: flex;
    flex-direction: row;
    gap: 13rem;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 180px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
/* DELAY EN ANIMACIONES DE CARTAS */
.card:nth-child(2){
    animation-delay: 1s;
}

.card:last-child{
    animation-delay: 2s;
}

.card span{
    font-size: 20px;
}

/* CLASES DEL FOOTER*/

.phone {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.2rem;
}

.phone i{
    font-size: 20px;
}

.social_medias i{
    font-size: 30px;
}
.social_medias ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.contact , .ubic , .social_medias , .img{
    margin-top: 1rem;
}

/* -------------------RESPONSIVE------------------------------------------ */

@media (max-width: 980px){
    .navbar i{
        display:block;
        margin-right: 2rem;
    }
    .navbar ul{
        background-color: var(--black);
        width: 100%;
        height: calc(100vh - 141px);
        position: absolute;
        top: 141px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transform: translateY(200%);
        transition: all 0.4s ease-out;
    }

    #toggle-menu:checked + .container-items{
        transform: translateY(0%);
        transition: all 0.4s ease-out;
    }
}
@media (max-width: 876px){
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ubic{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 790px){
    .about__section img{
        height: 13rem;
        width: 20rem;
    }
}

@media (max-width: 732px){
    .about__section{
        display: flex;
        flex-direction: column;
    }
    .txt_img{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    .txt_img .imgs{
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 720px){
    section{
        margin-right: 2%;
    }
    .card__container{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .card{
        animation-name: left_right;
    }
}

@media (max-width: 670px){
    .txt_img .imgs{
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 643px){
    .description__section h2{
        text-align: center;
    }
}
/* -------ANIMACIONES------------------------------- */

@keyframes floating {
    from{
      transform: translateY(2rem);
    }
    to{
      transform: translateY(-2rem);
    }
  }

@keyframes left_right {
    from{
      transform: translateX(2rem);
    }
    to{
      transform: translateX(-2rem);
    }
  }